{% include "captcha/options.html" %}
<script type="text/javascript" src="{{api_server}}/challenge?k={{public_key}}{{error_param}}"></script>
<noscript>
  <iframe src="{{api_server}}/challenge?k={{public_key}}{{error_param}}" style="width: 500px; height: 300px; border: 0"></iframe><br />
  <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
  <input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
</noscript>
